:root {
  --violet-principal: #b881f0;
}
.form-ticket {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.input-style,
.textarea-style {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.textarea-style {
  min-height: 120px;
  resize: vertical;
}

.btn-style {
  max-width: 200px;
  margin: 1rem auto 0 auto;
  padding: 0.75rem;
  background-color: #5e17eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-style:hover {
  background-color: var(--violet-principal);

}
.home-card {
  text-align: center;
  padding: 2rem;
  background-color: white;
  margin-top: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.highlight {
  color: #5e17eb;
  font-weight: bold;
}

.role-tag {
  background-color: #e0d4fb;
  color: #5e17eb;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}
.no-ticket {
  text-align: center;
  margin-top: 2rem;
  color: #888;
}

.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.ticket-card {
  background-color: #ffffff;
  border-left: 5px solid #5e17eb;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  transition: transform 0.2s ease;
}

.ticket-card:hover {
  transform: translateY(-3px);
}

.ticket-card h3 {
  margin: 0 0 0.5rem;
  color: #333;
}

.ticket-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}
.auth-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  color: #5e17eb;
  margin-bottom: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form input {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.auth-form button {
  background-color: #5e17eb;
  color: white;
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #4a0ecf;
}



